* {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  background-color: #282c34ca;
  overflow: hidden;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.App {
  text-align: center;
}
.App-link {
  color: #09d3ac;
}

div {
  display: flex;
  background-color: transparent;
}
